# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.FirstLSPDFRPlugin.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\prana\Programming\FirstLSPDFRPlugin\.idea\.idea.FirstLSPDFRPlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
